<!--%-- 
    Document   : accueil
    Created on : May 9, 2019, 10:52:47 PM
    Author     : root
--%-->
{% extends 'entete.html' %}
{% block content %}
<!DOCTYPE html>
<html>
    <head>
      
       <script src="static/js/jquery/jquery.min.js"></script>
       <script src="static/css/bootstrap/bootstrap.min.css"></script>
       <link rel="stylesheet" href="applicationcss.css">
        <link rel="stylesheet" href="static/css/bootstrap/bootstrap.min.css">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>accueil</title>
    </head>
    <body>
      
        <div class="container">
           

           
            <div class="row image">
                <div class="col-lg-offset-1 col-lg-10 col-lg-offset-1 insertion">
                    <img src="static/img/t.png" class="center-block">
                </div><!--Insertion-->
            </div><!--IMAGE-->  
            <div class="row  contenu">
                <div class="col-lg-offset-1 col-lg-7  contenu1">
                    
                    <h3>Description</h3>     

                    Notre équipe et nos Talents t'accueilleront dans les locaux d'EDACY (près du rond point du Collège Sacré Coeur), échangeront avec toi sur le WorkLearning comme passerelle pour l'emploi qualifié, et te permettront de participer à un atelier sur le Processus d'innovation Design Thinking où tu auras l'occasion de résoudre des problématiques réelles.
                    En tant que Talent d'un Jour, tu auras l'opportunité de travailler en équipe avec d'autres talents et vous serez accompagné d'un mentor pour vous expliquer chaque étape du processus.
                    Ce sera aussi le moment pour toi de mieux comprendre notre modèle de formation, d'en découvrir les résultats et de nous poser toutes tes questions et partager tes suggestions.
                    <br/><br/>
                    PROGRAMME :<br/>
                    14h30 - 15h00 : Accueil et Mise en place<br/>
                    15h00 - 15h05 : Mots de Bienvenue<br/>
                    15h05 - 15h30 : Présentation du Programme WorkLearning<br/>
                    15h30 - 19h15 : Atelier sur le processus d'innovation : Comment résoudre le problème d'employabilité des jeunes au Sénégal?<br/>
                    19h15 - Ndogou<br/>
                    Evénement ouvert aux talents inscrits au WorkLearning de la cohorte 8 ayant validé les 3 premiers modules de la formation en ligne.<br/> Tu n'es pas encore inscrit? Fais-le en suivant ce lien.
                    Evénement ouvert aux talents inscrits au WorkLearning de la cohorte 8 ayant validé les 3 premiers modules de la formation en ligne. Tu n'es pas encore inscrit? Fais-le en suivant ce lien.
                    Les places à l'évènement Talent d'Un Jour sont limitées à 100 participants.<br/>
                    Inscris-toi avant le 12 Mai et partage l’invitation !<br/>
                    NB : Le Ndogou est offert<br/>
               </div><!--contenu1-->
                <div class="col-lg-4  contenu2">
                    <h3>Date et heure</h3><br/>
                    mer. 15 mai 2019<br/>
                    15:00 – 19:30 heure : Sénégal<br/>
                    Ajouter au calendrier<br/><br/><br/><br
                    <h3> Adresse</h3>
                    EDACY SENEGAL<br/>
                    Rond-Point Sacré Coeur, à coté de la paroisse Saint Pierre Baobab<br/>
                    Dakar, Dakar 12300 
                </div> <!--contenu2-->
            
         
        </div><!--contenu-->
         </div><!--container -->
       
    </body>
</html>
{% endblock content %}
